<form {{on "submit" this.submitForm}}>
  <label for="url">Geeft de URL van het aanduidingsobject op</label>
  <input id="url" type="url" placeholder="Enter URL" value={{this.url}} {{on "input" this.updateUrl}} required>

  <button type="submit">Submit</button>
</form>
